<!doctype html>
<html lang="en">

{% load bootstrap5 %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    {% if page_title %}
        <title>Your App: {{ page_title }}</title>
    {% else %}
        <title>Your App:
            {% block head_title %}{% endblock head_title %}
        </title>
    {% endif %}

    {% comment %} Load Bootstrap CSS and Site CSS {% endcomment %}
    {% bootstrap_css %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen"/>
</head>
<body class="body_for_fixed_nav">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light mb-4 border">
        <a class="navbar-brand" href="{% url 'your_app:index' 'Home' %}">Home</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <!-- View functions -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'your_app:index' 'Option1' %}">Option1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'your_app:index' 'Option2' %}">Option2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'your_app:index' 'Option3' %}">Long Option3</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'your_app:index' 'Registered_Option4' %}">Registered Option4</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    {% if request.user.is_staff %}
                        {% comment %} Responsive padding 'Mobile First' {% endcomment %}
                        <li class="nav-item pl-0 pl-sm-3 pt-3 pt-sm-0">
                            <a class="nav-link" href="{% url 'your_app:index' 'Staff_Option' %}">Staff Option1</a>
                        </li>
                    {% endif %}
                    <li class="nav-item pl-0 pl-sm-3 pt-3 pt-sm-0">
                        <div class="nav-link dropdown">
                            <a class="dropdown-toggle"
                               href="#"
                               role="button"
                               id="dropdownMenuLink"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                {% if user.first_name %}
                                    {{ user.first_name }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                                - profile
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a></li>
                                <li><a class="dropdown-item" href="{% url 'edit_user_details' %}">Name</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_email' %}">Emails</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Password</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Log in</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% bootstrap_messages %}
    <main role="main" class="container">
        <div>
            {% block page_header %}
            {% endblock page_header %}
        </div>
        <div class="mb-3">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="pb-2 mb-2 border-top">
            {% block footer %}
                <center>
                    <a href="{% url 'your_app:index' 'About' %}">About</a> -
                    <a href="{% url 'your_app:index' 'Change_Log' %}">Change log</a>
                </center>
                {% if request.user.is_staff %}
                    <center>
                        <a href="./admin" target="blank">admin</a> -
                        <a href="https://github.com/GaryGod3/Django_All_Auth_Custom" target="blank">github</a>
                        <br/>
                    </center>
                {% endif %}
            {% endblock footer %}
        </div>
    </main>

    {% comment %} Load Bootstrap JS and Site JS {% endcomment %}
    {% bootstrap_javascript %}
    <script src="{% static 'js/scroll-to-top.js' %}"></script>
</body>
